.container{
  display: flex;
}

.side_bar{
  display: flex;
  min-width: 350px;
  height: 100%;
  background-color: #2C2C2C;
  padding-left: 50px;
  padding-bottom: 44px;
}


.name_info{
    padding-top: 49px;
}
.name{
  font-size: 18px;
line-height: 22px;
padding-top: 16px;
padding-bottom: 10px;
color: #FFFFFF;
font-family: 'Montserrat', sans-serif;
}
.addres{
}
.addres_item>a{
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
}
.line{
  padding-top: 41px;
}
.item>a{
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
text-decoration: none;
font-family: 'Montserrat', sans-serif;
line-height:40px;
}
.services_output{
  padding-top: 85px;
padding-right: 90px;
}
.item_output>a{
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  line-height:40px;
}
.social{
  display: flex;
  justify-content: space-between;
}

.container{
  display: flex;
}

.content_menu{
  background-color: red;
  width: 100%;
  height: 100%;
  display: flex;
}
.menu{
  padding-top: 50px;
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
  width: 881px;
  height: 26px;

}

.menu_box>a{
text-decoration: none;
font-family: 'Montserrat', sans-serif;
font-size: 18px;
line-height: 22px;
color: #2C2C2C;
}
