.container{
  width: 100%;
  display: grid;
  grid-auto-rows: 100%;
  grid-template-columns: 2fr 5fr;;
  background-color: rgb(38, 99, 53);
}

.side_bar{
  display: flex;
  min-width: 350px;
  height: 100%;
  background-color: #2C2C2C;
  padding-left: 50px;
  padding-bottom: 44px;
}


.name_info{
    padding-top: 49px;
}
.name{
  font-size: 18px;
line-height: 22px;
padding-top: 16px;
padding-bottom: 10px;
color: #FFFFFF;
font-family: 'Montserrat', sans-serif;
}
.addres{
  max-width: 240px;
}
.addres_item>a{
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;

}
.line{
  padding-top: 41px;
}
.item>a{
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
text-decoration: none;
font-family: 'Montserrat', sans-serif;
line-height:40px;
}
.item a:hover{
  color: #87D9F1
}
.services_output{
  padding-top: 85px;
padding-right: 90px;
}
.item_output>a{
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  line-height:40px;
}
.item_output a:hover{
  color: #87D9F1
}
.social{
  display: flex;
  justify-content: space-between;
}
.service_options{
  width: 1092px;
  height: 763px;
  /* background-color: rgb(53, 232, 127); */
}
.menu{
  margin-top: 50px;
      display: flex;
      justify-content: space-between;
      width: 1000px;
      height: 26px;
      background-color: rgb(51, 88, 232);
      float: right;
      padding-right: 124px;
}
.menu_item>a{

  width: auto;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 22px;
color: #2C2C2C;
}
/* ____________________________услуги__________________ */
.conteiner_box{
  background-color: rgb(242, 177, 234);

}
.service_menu{

}
