.container{
  width: 100%;
  display: grid;
  grid-auto-rows: 100%;
  grid-template-columns: 2fr 5fr;;

}

.side_bar{
  display: flex;
  min-width: 350px;
  height: 100%;
  background-color: #2C2C2C;
  padding-left: 50px;
  padding-bottom: 44px;
}


.name_info{
    padding-top: 49px;
}
.name{
  font-size: 18px;
line-height: 22px;
padding-top: 16px;
padding-bottom: 10px;
color: #FFFFFF;
font-family: 'Montserrat', sans-serif;
}
.addres{
  max-width: 240px;
}
.addres_item>a{
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;

}
.line{
  padding-top: 41px;
}
.item>a{
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
text-decoration: none;
font-family: 'Montserrat', sans-serif;
line-height:40px;
}
.item a:hover{
  color: #87D9F1
}
.services_output{
  padding-top: 85px;
padding-right: 90px;
}
.item_output>a{
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  line-height:40px;
}
.item_output a:hover{
  color: #87D9F1
}
.social{
  display: flex;
  justify-content: space-between;
}
.service_options{
  width: 1092px;
  height: 763px;
  /* background-color: rgb(53, 232, 127); */
}
.menu{
margin-top: 50px;
display: flex;
justify-content:space-between;
/* width: 1000px; */
height: 26px;
/* background-color: rgb(51, 88, 232); */
padding-right: 105px;
}
.menu_item>a{

  width: auto;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 22px;
color: #2C2C2C;
}
.menu_item a:hover{
color: #87D9F1;}
/* ____________________________услуги__________________ */
.conteiner_box{
background: #F6F6F6;

}
.service_menu{
padding-top: 49px;

}
.service_options{
padding-left: 142px;
}
.text{
font-size: 24px;
line-height: 28px;
color: #528290;
font-family: 'Montserrat', sans-serif;
}
.service-filter{

}
.menu_filter{
display: flex;
justify-content: space-between;
height: 26px;
padding-right: 105px;
padding-top: 42px;

}
.menu_filter a:hover{
background: #3A5F6A;
border-radius: 20px;
width: 76px;
height: 40px;
}
.menu_filters>a{
  font-size: 16px;
line-height: 28px;
width: auto;
text-decoration: none;
font-family: 'Montserrat', sans-serif;
color: #528290;
}

/* блоки услуг */
.blocks{
width: 100%;
display: flex;
flex-wrap: wrap;
padding-top: 60px;
}
.serves_block{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
padding-right: 122px;
}
.block_header{
background: #F6F6F6;
border: 1px solid #528290;
box-sizing: border-box;
border-radius: 3px;
width: 250px;
height: 180px;

padding-top: 31px;
padding-left: 21px;
display: flex;
flex-direction: column;
margin-bottom: 35px;
}
.block_header>p{
  display: flex;
  flex-direction: column;
}
.heading_blocks{
  font-size: 18px;
line-height: 28px;
color: #528290;
font-family: 'Montserrat', sans-serif;
}
.text_blocks{
font-size: 14px;
line-height: 18px;
color: #2C2C2C;
font-family: 'Montserrat', sans-serif;
padding-top: 10px;
padding-right: 33px;
}
.svg_block{
padding-left: 150px;
padding-top: 20px;
}
