
.wrapper{
  width: 100%;
  background-color: red;
}
.head{
  height: 750px;
  background-image:url("../img/head.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  color: rgb(240, 251, 255);
  display: flex;


}
.head_title{
  font-size: 52px;
  font-weight: 600;
  line-height: 63px;
  padding-left: 124px;
  padding-top: 230px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;

}
.head_description{
  padding-left: 124px;
  padding-top: 12px;
  line-height: 22px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  font-family: 'Montserrat', sans-serif;

}
.head_slogan{
  padding-left: 124px;
  padding-top: 47px;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  font-family: 'Montserrat', sans-serif;

}

.darcer{
  width: 100%;
  height: 100%;
  background-color:rgba(16, 18, 24, 0.73);
  /* z-index:9999; */
}
.menu{
  padding-top: 50px;
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
  width: 1024px;
  height: 26px;
  float: right;
  margin-right: 124px;
  /* background-color:rgb(38, 1, 217); */
}
.burger{
  display: none;
}
.text_logo{
  display: none;

}


.item>a{
  color: rgb(255, 255, 255);
  width: auto;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

.item a:hover{
  color: #87D9F1
}

/* _____________________________3/блока и текст___________________ */
.baseInfo{
width: 100%;
height: 825px;
background-color: #2C2C2C;
position: relative;
}
.blockWrap{
display: flex;
position: absolute;
width: 100%;
top: -72px;
}

.blockI{
flex:1;
display: flex;
justify-content: center;
}

.infoBlock{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
width: 342px;
height: 142px;
border-radius: 6px;
box-shadow: 4px 4px 4px rgba(229, 229, 229, 0.18);
background-color: rgb(255, 255, 255);
}

.textBlock{
display: flex;
flex-wrap: wrap;
margin-top: 39px;
margin-bottom: 43px;
width: 100%;
  /* background-color: rgb(242, 132, 147); */
}
.textBlock>a{
display: flex;
padding-left: 28px;
padding-right: 29px;
font-size: 18px;
text-decoration: none;
color: #397C8F;
font-family:'Montserrat', sans-serif;
}
.textBlock>a{

}
.strela{
  display: flex;
  /* background-color: aqua; */
    margin-right: 42px;
    margin-left: 248px;
    padding-top: 5px;
}
/* ____________________________черная стрела______________ */
.title{
  font-size: 32px;
  padding-top: 206px;
  font-family:'Montserrat', sans-serif;
  text-align: center;
  color: rgb(255, 255, 255);
  text-transform:uppercase;
}

.title-2{
  font-size: 32px;
  padding-top: 148px;
  font-family:'Montserrat', sans-serif;
  text-align: center;
  color: rgb(255, 255, 255);
  text-transform:uppercase;
}


.conteiner{
  display: flex;
  justify-content: center;
  padding-top: 95px;
  max-width: 1800px;
  /* background-color: rgb(38, 1, 217); */
}

.colon-3{
  display: flex;
  margin: 0 40px;
  max-width: 360px;
  flex-direction: column;
  /* background-color: rgb(182, 218, 35); */
}

.svg{
  display: flex;
  justify-content: center;
  height: 92px;
  margin-bottom: 40px;
  /* background-color:rgb(227, 8, 21); */
}

.text{
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 20px;
  line-height: 24px;
  font-family:'Montserrat', sans-serif;
}
/* ________________блок с картинками____ */
.bloc_imgs{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 809px;
  background-color: rgb(221, 142, 33);

}
.imgs{
  flex: 1;
  height: 250px;
  display: flex;

}
.address1, .address4{
  flex: 1;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.address2, .address3{
  flex: 2;
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.address1{
  background-image:url(../img/1.jpg);

}
.address2{
  background-image: url(../img/2.jpg);
}
.address3{
  background-image: url(../img/3.jpg);
}
.address4{
  background-image: url(../img/4.jpg);
}
.text_bloc{
  text-transform: uppercase;
  font-family:'Montserrat', sans-serif;
  font-size: 24px;
  line-height: 29px;
  color: rgb(255, 255, 255);
}
.text_address{
display: flex;
width: 100%;
height: 100%;
align-items: flex-end;
padding-left: 63px;
padding-bottom: 58px;
background-color: rgba(0, 0, 0, 0.63);
}
.img_fon{
  width: 100%;
  /* height: 100%; */
  background-color: rgba(0, 0, 0, 0.63);
}

}
@media (max-width: 576px){
  .address2, .address3{
    flex: 1;}
  .imgs {
    flex-direction: column;}

  }

/* _________________________блок напиши нам_________________ */
.contacts{
  width: 100%;
  height: 1071px;
  background-color: #2C2C2C;
}

.contactsBlock{
  text-align: center;
  color: rgb(255, 255, 255);
  /* background-color:rgb(187, 12, 81); */

}
.contactsText{
  font-weight: 600;
  /* padding-left: 570px; */
  padding-top: 117px;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.05em;
  /* background-color:rgb(139, 203, 172); */
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.contactsText2{
  display: flex;
  padding-left: 365px;
  margin-bottom: 15px;
padding-right: 368px;
padding-top: 78px;
flex-wrap: wrap;
  font-size: 20px;
  line-height: 36px;
  /* background-color: rgb(80, 120, 241); */
  font-family: 'Montserrat', sans-serif;
}
.contactsText3{
  font-size: 16px;
  line-height: 20px;
  /* background-color: rgb(235, 109, 215); */
  font-family: 'Montserrat', sans-serif;
}

/* ______________форма_________________ */
.form{
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 20px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 62px;
}
.contact_wrapper{
  width: 464px;
  margin: 0 auto;

}

input{
  width: 464px;
  height: 49px;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 29px;
border: 1px solid #323232;
box-sizing: border-box;
border-radius: 3px;
padding-left: 21px;
font-family: 'Montserrat', sans-serif;

}
textarea{
  width: 100%;
  height: 136px;
  color: #828282;
  border: 1px solid #323232;
box-sizing: border-box;
border-radius: 3px;
padding-left: 21px;
font-family: 'Montserrat', sans-serif;

}
.comment{
  margin-top: 42px;
}

.checkbox{
  display: flex;
  justify-content: center;
  margin-top: 38px;
  font-size: 14px;
line-height: 17px;
font-family: 'Montserrat', sans-serif;
}
input:first-of-type{
  margin-right: 20px;
}

input[type=checkbox]{
  /* margin-top: 40px; */
  background: #FFFFFF;
border-radius: 2px;
width: 16px;
height: 16px;

}
.button_block{
  display: flex;
  justify-content: center;
}
input[type=submit]{
  width: 166px;
  height: 46px;
  background: #528290;
border-radius: 30px;
color: #FFFFFF;
font-size: 16px;
line-height: 20px;
letter-spacing: 0.03em;
margin-top: 23px;
font-family: 'Montserrat', sans-serif;
}

/* ___________________________футер___________________ */
.footer{
  width: 100%;
  height: 387px;
  background-color: rgb(27, 22, 24);
}
.content_footer{
display: flex;
justify-content: space-around;
width: 100%;
height: 100%;
/* background-color: rgb(154, 207, 134); */ */
}


.logo{
  color: white;
  font-size: 24px;
  line-height: 29px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding-left: 20px;
  padding-bottom: 15px;
  /* background-color: rgb(133, 85, 200); */
}
.social{
  display: flex;
justify-content: space-around;
}

.text_footer{
    width: 230px;
  display: flex;
flex-direction: column;
align-content: center;
    padding-top: 92px;
}
.list_contacts{
  width: 800px;
  display: flex;
  /* background-color: rgb(131, 187, 27); */
  justify-content: space-around;
}
.item_lest>a{
text-decoration: none;
  color: rgb(255, 255, 255);
}
.item_lest a:hover{
    color: #87D9F1
}
.list_contacts>ul{
  font-size: 16px;
  line-height: 24px;
      padding-bottom: 46px;
  padding-top: 121px;
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
}
